<ion-view view-title="园区信息" class="main-bg" >
  <!-- <ion-header-bar class="bar-custom">
    <button ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item">
      <i class="icon ion-ios-arrow-back"></i>
    </button>
    <h1 class="title">园区基本信息</h1>
  </ion-header-bar> -->

  <ion-content>
    <!-- <div class="row" style="height:1%">
      <br/><label class="home-font-big"></label>
    </div> -->
    <div class="list" >
      <a class="item item-icon-left item-icon-right menu-list-item" href="#/parkdetail/{{departcode}}/info">

        <i class="icon ion-navicon"></i>
        <label class="home-font-list">基本信息</label>
        <i class="icon ion-ios-arrow-right icon-accessory"></i>
      </a>

    <a class="item item-icon-left item-icon-right menu-list-item" href="#/parkinfo/{{departcode}}/admin">
        <svg class="icon" aria-hidden="true">
          <use xlink:href="#icon-zuzhijiagou"></use>
        </svg>
      <label class="home-font-list">管理机构</label>
      <i class="icon ion-ios-arrow-right icon-accessory"></i>
    </a>

    <a class="item item-icon-left item-icon-right menu-list-item" href="#/parkinfo/{{departcode}}/settled">

      <svg class="icon" aria-hidden="true">
        <use xlink:href="#icon-dianchangxinxi-kongxin-"></use>
      </svg>
      <label class="home-font-list">企业信息</label>
      <i class="icon ion-ios-arrow-right icon-accessory"></i>
    </a>

    <a class="item item-icon-left item-icon-right menu-list-item" href="#/parkinfo/{{departcode}}/plan">
      <i class="icon ion-ios-paper-outline"></i>
      <label class="home-font-list">规划文件</label>
      <i class="icon ion-ios-arrow-right icon-accessory"></i>
    </a>

    <a class="item item-icon-left item-icon-right menu-list-item" href="#/parkinfo/{{departcode}}/infrastructure">
      <svg class="icon" aria-hidden="true">
        <use xlink:href="#icon-guanwanggongcheng2"></use>
      </svg>
      <label class="home-font-list">基础设施</label>
      <i class="icon ion-ios-arrow-right icon-accessory"></i>
    </a>

    <a class="item item-icon-left item-icon-right menu-list-item" href="#/parkinfo/{{departcode}}/see">
      <i class="icon ion-ios-speedometer-outline"></i>
      <label class="home-font-list">安环节能</label>
      <i class="icon ion-ios-arrow-right icon-accessory"></i>
    </a>

    <a class="item item-icon-left item-icon-right menu-list-item" href="#/parkinfo/{{departcode}}/assess">
      <svg class="icon" aria-hidden="true">
        <use xlink:href="#icon-renzheng1"></use>
      </svg>
      <label class="home-font-list">评估评价</label>
      <i class="icon ion-ios-arrow-right icon-accessory"></i>
    </a>
    </div>
  </ion-content>
</ion-view>
