<ion-view view-title="聊城市" class="main-bg">
  <ion-content>
    <div class="list">
    <a class="item item-icon-left item-icon-right menu-list-item" href="#/zhny-yqnhztpj/2/line/1">
     <i class="icon ion-ios-analytics-outline"></i>
     中国化工新材料(聊城)产业园
     <i class="icon ion-ios-arrow-right icon-accessory"></i>
   </a>
   <a class="item item-icon-left item-icon-right menu-list-item" href="#/zhny-gbknhph/2/bar/0/0/能耗排行">
    <i class="icon ion-stats-bars"></i>
    莘县古云化工产业园
    <i class="icon ion-ios-arrow-right icon-accessory"></i>
  </a>
  <a class="item item-icon-left item-icon-right menu-list-item" href="#/zhny-gbkzycpdwnh/2/line/0">
   <i class="icon ion-ios-pie-outline"></i>
    临清济美酱园
   <i class="icon ion-ios-arrow-right icon-accessory"></i>
 </a>
 <a class="item item-icon-left item-icon-right menu-list-item" href="#/zhny-yqslxh/1/bar/0/水量消耗">
  <i class="icon ion-waterdrop"></i>
  聊城东昌湖
  <i class="icon ion-ios-arrow-right icon-accessory"></i>
</a>
 </div>
  </ion-content>
</ion-view>
