<ion-view view-title="subjects" class="main-bg">
    <ion-content style="padding:0px 30px;" scroll="false">

      <div class="row" style="height:25%; display:table;">
        <br/><label class="home-font-big">环境管理</label>
      </div>

      <div class="row" style="height:25%">
        <label class="home-font-big">安全管理</label>
      </div>

      <div class="row" style="height:25%">
        <label class="home-font-big">节能管理</label>
      </div>
      <div class="row" style="height:25%">
        <label class="home-font-big">应急管理</label>
      </div>


    </ion-content>
</ion-view>
