/**自定义tab样式*/
ion-tabs.tabs-color-active-custom .tab-item {
  opacity: 1;
  color: #333333;
}

ion-tabs.tabs-color-active-custom .tab-item > .tab-title {
  color: #696969;
}

ion-tabs.tabs-color-active-custom .tab-item.tab-item-active,
ion-tabs.tabs-color-active-custom .tab-item.active,
ion-tabs.tabs-color-active-custom .tab-item.activated,
ion-tabs.tabs-color-active-custom .tab-item.tab-item-active > .tab-title,
ion-tabs.tabs-color-active-custom .tab-item.active > .tab-title,
ion-tabs.tabs-color-active-custom .tab-item.activated > .tab-title {
  color: #8DCB64;
}

.tabs-custom > .tabs, .tabs.tabs-custom {
  border-color: transparent;
  background-color: #ebebeb;
  /**background-image: none;**/
  background-image: linear-gradient(0deg, #F4FAFB, #F4FAFB 50%, transparent 50%);
}
.tab-nav{height:55px;}
.tab-item > .icon{
  font-size: 24px!important;
   padding-top: 4px;
   margin:2px auto;
}
.tab-title {font-size:16px; }

/**icon样式*/
.icon {
   width: 1em; height: 1em;
   vertical-align: -0.15em;
   fill: currentColor;
   overflow: hidden;
}
/**自定义标题栏样式*/
.bar.bar-custom {
  border-color: #8DCB64;
  background-color: #8DCB64;
  background-image: linear-gradient(0deg, #8DCB64, #8DCB64 50%, transparent 50%);
  color: #fff;
}

.bar.bar-custom .title {
  color: #fff;
}

.bar-custom .button {
  border-color: #8DCB64;
  background-color: #8DCB64;
  color: #fff;
}

.bar-custom .button:hover {
  color: #fff;
  text-decoration: none;
}

.bar-custom .button.active, .bar-custom .button.activated {
  border-color: #8DCB64;
  background-color: #8DCB64;
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1);
}

.bar-custom .button.button-clear {
  border-color: transparent;
  background: none;
  box-shadow: none;
  color: #fff;
  font-size: 17px;
}

.bar-custom .button.button-icon {
  border-color: transparent;
  background: none;
}
.main-bg{
  background-image: url('../img/main_bg.jpg');
  background-size: cover;
}
.main-bg-content{
  background-color:rgba(255, 255, 255, 0.8);
      overflow:visible;
      z-index:10;
}
/*loading*/
.font-size-3 {
  font-size: 3em;
}

.load-spin:before {
  content: "\f29c";
}

.load-spin {
  display: inline-block;
  font-family: "Ionicons";
  /*speak: none;*/
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -webkit-animation: my-spin 1.0s infinite linear;
  -moz-animation: my-spin 1.0s infinite linear;
  -o-animation: my-spin 1.0s infinite linear;
  animation: my-spin 1.0s infinite linear;
}

@-moz-keyframes my-spin {
  0% {
    -moz-transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
  }
}

@-webkit-keyframes my-spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
  }
}

@-o-keyframes my-spin {
  0% {
    -o-transform: rotate(0deg);
  }

  100% {
    -o-transform: rotate(359deg);
  }
}

@-ms-keyframes my-spin {
  0% {
    -ms-transform: rotate(0deg);
  }

  100% {
    -ms-transform: rotate(359deg);
  }
}

@keyframes my-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}
.login-bg{
  background-image: url('../img/login_bg.jpg');
  background-size: cover;
}
.login a {
  text-decoration: none;
}

.login {
  overflow: hidden;
  padding: 16px;
  padding-top: 56%;
}

.login .input-content {
  padding-top: 2px;
}
.login-content{
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 3%
}

.input-content input {
  /**border-bottom: 1px solid #dedede;**/
  padding: 20px 2px;
  font-size: 16px;
  margin-left: 10px;
  color: #666;
}
.login .placeholder-icon {
     color: #898989;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #666!important;
}
.login-remember {
  overflow: hidden;
  margin: 0 9.5%;
}

.login-remember label {
  color: #727171;
  font-size: 12px;
  background: url(../img/17.png) no-repeat 3px center;
  background-size: 15px auto;
}

.login-remember label input {
  width: 25px;
  opacity: 0;
}

.login-remember label.label1 {
  float: left;
}

.login-remember label.label2 {
  float: right;
}

.login-remember label.cur {
  background: url(../img/16.png) no-repeat 3px center;
  background-size: 15px auto;
}

.input-content .icon {
  font-size: 34px;
  min-width: 34px;
}

.input-content .item-input {
  border-width: 0px;
  margin: 30px;
  padding: 2px 0 2px 0px;
  background-color: transparent;
  border-bottom: 1px solid #AFAFAF;
}

.input-content input:focus {
    /**border-bottom: 1px solid #C9C9C9;**/
}

.button.button-custom {
  border-color: transparent;
  background-color: #85BF5F;
  color: #fff;
  min-height: 36px;
  line-height: 36px;
 }
  .button.button-custom:hover {
    color: #fff;
    text-decoration: none; }
  .button.button-custom.active, .button.button-custom.activated {
    border-color: #a2a2a2;
    background-color: #75bf5f; }
    .home-font-large{
      font-size:60px;color:white;
    }
    .home-font-big{
      font-size:40px;color:white;
    }
    .home-font-small{
      font-size:22px;color:white;
    }
    .home-font-list{
      font-size:1.5em;color:#00008B;
    }
    .home-font-tiny{
      font-size:14px;color:white;
    }
    .menu-list-item{
      padding-top: 30px;
      padding-bottom: 30px;
      background-color: rgba(255, 255, 255, 0.5);
      color: #616161!important;
      border-color: rgba(255, 255, 255, 0.2)!important;
      padding-left: 80px!important;
    }
    .menu-list-item .icon:nth-child(1){
      color: #85BF5F;
      font-size: 40px;
      left: 26px;
    }
    .menu-list-item .icon:nth-child(2){
        color: white;
    }
    .table_cell_title {
  font-size: 14px;
  text-align: center;
  padding: 5px 0px;
}

.table_cell {
  font-size: 14px;
  text-align: center;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  color: #666666;
  padding: 5px 0px;
}

.ths_row_title {
  background-color: rgba(240, 240, 241, 0.4);
  padding: 0 5px;
  border-bottom: rgba(207, 207, 207, 0.4) 1px solid
}

.row+.row {
  margin-top: 0;
  padding-bottom: 0;
}


/**奇数行**/

.ths_row_odd {
  background-color: rgba(247, 247, 247, 0.5);
}


/**偶数行**/

.ths_row_even {
  background-color:transparent ;
}

.cus-list-item {
  border-bottom: 1px solid #cecece;
  padding: 8px!important;
}
.list-title{
  padding: 4px 8px;
  background-color: rgba(255, 255, 255, 0.6);
  margin-top: 4px;
}
.list-title > .icon{
  float: right;
  font-size: 16px;
}
.list-title > .icon > a{
  font-size: 12px;
}
.seaerch-content{
  background-color: rgba(255, 255, 255, 0.6);
}
.cus-input{
  border: 1px solid #dedede!important;
  padding-left: 6px!important;
  height: 26px!important;
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.col-55 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 55%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 55%;
    -ms-flex: 0 0 55%;
    flex: 0 0 55%;
    max-width: 55%;
}
.popover-list-item{
      text-align: center;
      padding: 10px 0px;
      margin: 0px 10px;
      background-color: transparent;
      color: white;
      border-bottom: 1px #BFE6A6 solid;
      font-size: 14px;
}
.popover-list-item:last-child{
  border-bottom-width: 0px;
}
.platform-ios .popover {
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
  }
  .platform-ios .popover-arrow:after {
    background-color: #85BF5F;
  }
  .popover {
    background-color: #85BF5F;
  }
  .tab-bar {
  background-color: rgba(255, 255, 255, 0.8)!important;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  border: none !important;
  background-size: 100% 0px;
  padding: 0px 16px 0px 16px;
}
.tab-bar .button{
      border-width: 0px 0px 1px 0px!important;
      border-radius: 0px 0px 0px 0px!important;

}
.tab_custom {
  margin-top: 4px;
  width: 90%;
}

.button.button-tab {
  border-color: #ccc;
  background-color: transparent;
  color: #616161;
  font-size: 14px;
  padding: 0 0px;
}

.button.button-tab:hover {
  color: #85BF5F;
  text-decoration: none;
}

.button.button-tab.active, .button.button-tab.activated {
  border-color: #85BF5F;
  background-color: transparent;
  color: #85BF5F;
  box-shadow: none;
}

.button.button-striped {
  /*border-radius: 5px;*/
  /*border-color: #eeeeee;*/
  background-color: transparent;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid #f8f8f8;
  color: #676767;
}

.button.button-striped:hover {
  color: #676767;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid #f8f8f8;
  background-color: transparent;
  text-decoration: none;
}

.button.button-striped.active, .button.button-striped.activated {
  /*border-color: #eeeeee;*/
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 2px solid #85BF5F;
  background-color: transparent;
  color: #85BF5F;
  box-shadow: none;
}

.button-right {
  position:absolute;
  top:5px;
  right:5px;
  bottom:5px;
}

.menu-list-item.active, .menu-list-item.activated {
    background-color: rgba(133, 191, 95, 0.3);
}
/***修改日期时间选择控件的样式**/
.ionic_datepicker_popup .popup-body .selected_date_full {
  background-color: #8DCB64!important;
}
.ionic_datepicker_popup .popup-body .button-clear {
  color: #8DCB64!important;
}
.ionic_datepicker_popup .popup-body .month_select, .ionic_datepicker_popup .popup-body .year_select {
  border-bottom: 1px solid #8DCB64!important;
}
.ionic_datepicker_popup .selected_date {
  background-color: #8DCB64!important;
}
.ionic_datepicker_popup .today {
  border: 1px solid #8DCB64!important;
}
.popup-buttons button {
  background-color: #8DCB64!important;
}
.echarts div:nth-child(2){
  top:0px!important;
}
.waether-radius-span{
  border-radius: 20px 0px 0px 20px;;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  float: right;
  padding: 10px;
}
.waether-radius-span label{
  background-color: #8BCA6D;
  margin-left: 4px;
  padding: 4px;
}
.home-center-content{
  height:33.33%;padding:0px 30px;
}
.home-top-bottom{
  height:33.33%; display:table;padding:0px 30px;
}
.home-center-content .row{
  background-color: rgba(255, 255, 255, 0.4);
  border: solid 1px #fff;
}
.home-aqi-des-div{
  padding-bottom: 6px;
}
.home-aqi-des-div label{
  padding: 2px 6px;
}
.echarts a[x-apple-data-detectors-type="telephone"]{
  text-decoration: none!important;
  color: white;
}
.condition-w2{
  width:calc(100% - 39px);display: inline;
}
.condition-w3{
  width:calc(100% - 57px);display: inline;
}
.condition-w4{
  width:calc(100% - 67px);display: inline;
}
.condition-w5{
  width:calc(100% - 82px);display: inline;
}
/** 去高德logo */
.amap-copyright{
  display: none!important;
}
.amap-logo {
  display: none;
}
.gd-info-title {
    background-color: rgba(0, 155, 255, 0.8);
    color: white;
    font-size: 14px;
    font-weight: lighter;
    letter-spacing: 1px;
    line-height: 26px;
    padding: 0 0 0 6px;
}
.gd-info-content {
    color: #666666;
    line-height: 23px;
    padding: 4px;
}
.gd-info-content img {
    width:100px;
    height: 100px;
    float: left;
    margin: 3px 8px 3px 3px;
}
.amap-info-content {
    background: #fff;
    width: 260px;
    /* border: 1px solid #ccc; */
    padding: 0px;
    line-height: 1.4;
    overflow: auto;
}
